body{

background:linear-gradient(135deg,#ffdde1,#ee9ca7);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

overflow:hidden;

font-family:Arial;

}

.ring{

font-size:100px;

animation:float 2s infinite alternate;

}

@keyframes float{

to{

transform:translateY(-15px);

}

}

h1{

font-size:60px;

color:#fff;

}

h2{

font-size:45px;

margin-bottom:40px;

color:white;

}

button{

padding:18px 40px;

font-size:25px;

margin:20px;

border:none;

border-radius:50px;

cursor:pointer;

}

#yes{

background:#4CAF50;

color:white;

}

#no{

background:#ff1744;

color:white;

position:absolute;

}
