*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

height:100vh;

overflow:hidden;

background:linear-gradient(180deg,#020111,#191970,#4B0082);

animation:bg 18s infinite alternate;

font-family:Arial;

color:white;

}

@keyframes bg{

0%{

background:#0d1b2a;

}

50%{

background:#16213e;

}

100%{

background:#0f3460;

}

}

.container{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

text-align:center;

animation:fade 2s;

}

@keyframes fade{

from{

opacity:0;

transform:translate(-50%,-40%);

}

to{

opacity:1;

transform:translate(-50%,-50%);

}

}

h1{

font-size:55px;

font-family:'Great Vibes';

}

h2{

margin-top:20px;

font-size:35px;

}

p{

margin-top:25px;

font-size:20px;

}

button{

margin-top:40px;

padding:18px 35px;

font-size:22px;

border:none;

border-radius:50px;

cursor:pointer;

background:#ff4d6d;

color:white;

transition:.4s;

}

button:hover{

transform:scale(1.1);

background:#ff1744;

}

#timer{

position:absolute;

bottom:30px;

width:100%;

text-align:center;

font-size:22px;

}

#countdown{

margin-top:15px;

font-size:30px;

font-weight:bold;

}

.star{

position:absolute;

background:white;

border-radius:50%;

animation:blink 2s infinite;

}

@keyframes blink{

50%{

opacity:.2;

}

}
